* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(35, 35, 35);
    width: 100vw;
    height: 100vh;
    display: initial;
    width: 600px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: aliceblue;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-painel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrap input {
    border-radius: 5px;
    width: 30%;
    height: 30px;

}


#botoes,
#saida,
#wrap {
    margin-top: 3px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    background-color: rgb(73, 75, 74);
    margin-right: 2%;
    margin-left: 2%;
}

button {
    width: 30%;
    height: 35px;
    background-color: rgb(0, 95, 139);
    color: white;
    border-radius: 5px;
    border:1px solid rgb(207, 207, 207);
}

button:hover {
    background-color: darkturquoise;
    color: black;
}

#saida input {
    height: 20px;
    width: 20px;
}

/* table {
    border: solid black;
    border-radius: 10px;
    background-color: rgb(0, 95, 139);
    color: white;
} */

/* td { */
    /* border-right: 1px solid white; */
    /* border-radius: 10px; */
/* } */

/* td:nth-child(3) { */
    /* border: none; */
    /* border-radius: 10px; */
/* } */



#botoes,
#saida,
#wrap {
    display: block;
}

/* produtos */

.div-produto{
    display: flex;
    justify-content: center;
}